<!-- <header>
  <img
    src="https://icon.freeholidaypng.com/20200810/rro/halloween-card-jack-o-lantern-greeting-card-for-halloween-5f30fb64b220a3.16119375.png"
    alt="header-icon"
    width="50px"
    height="50px"
  />
  <h1>Just For Fun</h1>
</header> -->

<header>
  <mat-toolbar color="primary">
    <img
      src="https://icon.freeholidaypng.com/20200810/rro/halloween-card-jack-o-lantern-greeting-card-for-halloween-5f30fb64b220a3.16119375.png"
      alt="header-icon"
      width="50px"
      height="50px"
      borderRadius="50%"
    />
    <span class="spacer"></span>
    <span>Fun-App</span>
  </mat-toolbar>
</header>
